    /*
    Flaticon icon font: Flaticon
    Creation date: 13/03/2018 13:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-people-2:before { content: "\f100"; }
.flaticon-people-1:before { content: "\f101"; }
.flaticon-people:before { content: "\f102"; }
.flaticon-engineer:before { content: "\f103"; }
.flaticon-lawn-mower:before { content: "\f104"; }
.flaticon-boot:before { content: "\f105"; }
.flaticon-nature-6:before { content: "\f106"; }
.flaticon-nature-5:before { content: "\f107"; }
.flaticon-nature-4:before { content: "\f108"; }
.flaticon-pray-1:before { content: "\f109"; }
.flaticon-pray:before { content: "\f10a"; }
.flaticon-nature-3:before { content: "\f10b"; }
.flaticon-symbol:before { content: "\f10c"; }
.flaticon-recycle-symbol-of-three-leaves:before { content: "\f10d"; }
.flaticon-recycle-triangle-of-three-arrows-outlines:before { content: "\f10e"; }
.flaticon-recycle-triangular-symbol-of-three-arrows-rotation:before { content: "\f10f"; }
.flaticon-christmas-tree:before { content: "\f110"; }
.flaticon-nature-2:before { content: "\f111"; }
.flaticon-leave:before { content: "\f112"; }
.flaticon-nature-1:before { content: "\f113"; }
.flaticon-nature:before { content: "\f114"; }
.flaticon-insignia:before { content: "\f115"; }
.flaticon-flower:before { content: "\f116"; }
.flaticon-watering:before { content: "\f117"; }
.flaticon-black:before { content: "\f118"; }
.flaticon-vine:before { content: "\f119"; }
.flaticon-vimeo:before { content: "\f11a"; }
.flaticon-linkedin:before { content: "\f11b"; }
.flaticon-pinterest:before { content: "\f11c"; }
.flaticon-google-plus:before { content: "\f11d"; }
.flaticon-twitter:before { content: "\f11e"; }
.flaticon-whatsapp:before { content: "\f11f"; }
.flaticon-facebook:before { content: "\f120"; }
.flaticon-instagram:before { content: "\f121"; }
.flaticon-map-1:before { content: "\f122"; }
.flaticon-smartphone-2:before { content: "\f123"; }
.flaticon-e-mail-envelope:before { content: "\f124"; }
.flaticon-presentation-whiteboard:before { content: "\f125"; }
.flaticon-man:before { content: "\f126"; }
.flaticon-target-1:before { content: "\f127"; }
.flaticon-arrows-8:before { content: "\f128"; }
.flaticon-arrows-7:before { content: "\f129"; }
.flaticon-arrow:before { content: "\f12a"; }
.flaticon-arrows-6:before { content: "\f12b"; }
.flaticon-arrows-5:before { content: "\f12c"; }
.flaticon-arrows-4:before { content: "\f12d"; }
.flaticon-arrows-3:before { content: "\f12e"; }
.flaticon-arrows-2:before { content: "\f12f"; }
.flaticon-right-arrow:before { content: "\f130"; }
.flaticon-left-arrow:before { content: "\f131"; }
.flaticon-delete-button:before { content: "\f132"; }
.flaticon-close-envelope:before { content: "\f133"; }
.flaticon-cancel:before { content: "\f134"; }
.flaticon-cancel-music:before { content: "\f135"; }
.flaticon-hourglass:before { content: "\f136"; }
.flaticon-alarm-clock:before { content: "\f137"; }
.flaticon-website-design-symbol:before { content: "\f138"; }
.flaticon-eye-1:before { content: "\f139"; }
.flaticon-safe:before { content: "\f13a"; }
.flaticon-airplane:before { content: "\f13b"; }
.flaticon-travel:before { content: "\f13c"; }
.flaticon-danger-sing:before { content: "\f13d"; }
.flaticon-aeroplane:before { content: "\f13e"; }
.flaticon-wifi:before { content: "\f13f"; }
.flaticon-key:before { content: "\f140"; }
.flaticon-loupe-1:before { content: "\f141"; }
.flaticon-settings-3:before { content: "\f142"; }
.flaticon-eye:before { content: "\f143"; }
.flaticon-favorite:before { content: "\f144"; }
.flaticon-settings-2:before { content: "\f145"; }
.flaticon-mobile-phone:before { content: "\f146"; }
.flaticon-agenda:before { content: "\f147"; }
.flaticon-map:before { content: "\f148"; }
.flaticon-info:before { content: "\f149"; }
.flaticon-megaphone:before { content: "\f14a"; }
.flaticon-24-hours:before { content: "\f14b"; }
.flaticon-wall-clock:before { content: "\f14c"; }
.flaticon-like:before { content: "\f14d"; }
.flaticon-mouse:before { content: "\f14e"; }
.flaticon-telephone-2:before { content: "\f14f"; }
.flaticon-sms:before { content: "\f150"; }
.flaticon-telephone-1:before { content: "\f151"; }
.flaticon-message:before { content: "\f152"; }
.flaticon-house:before { content: "\f153"; }
.flaticon-arroba:before { content: "\f154"; }
.flaticon-telephone:before { content: "\f155"; }
.flaticon-mail:before { content: "\f156"; }
.flaticon-contract-1:before { content: "\f157"; }
.flaticon-reverse:before { content: "\f158"; }
.flaticon-slideshare-logotype:before { content: "\f159"; }
.flaticon-vector:before { content: "\f15a"; }
.flaticon-share-1:before { content: "\f15b"; }
.flaticon-share:before { content: "\f15c"; }
.flaticon-video-camera:before { content: "\f15d"; }
.flaticon-music-player-1:before { content: "\f15e"; }
.flaticon-gamepad:before { content: "\f15f"; }
.flaticon-video-player:before { content: "\f160"; }
.flaticon-muted:before { content: "\f161"; }
.flaticon-compact-disc:before { content: "\f162"; }
.flaticon-microphone:before { content: "\f163"; }
.flaticon-alarm:before { content: "\f164"; }
.flaticon-speaker:before { content: "\f165"; }
.flaticon-music-player:before { content: "\f166"; }
.flaticon-bank:before { content: "\f167"; }
.flaticon-money-bag:before { content: "\f168"; }
.flaticon-dollar-symbol:before { content: "\f169"; }
.flaticon-apple:before { content: "\f16a"; }
.flaticon-diamond:before { content: "\f16b"; }
.flaticon-map-marker:before { content: "\f16c"; }
.flaticon-placeholder-3:before { content: "\f16d"; }
.flaticon-placeholder-2:before { content: "\f16e"; }
.flaticon-attachment:before { content: "\f16f"; }
.flaticon-link-symbol:before { content: "\f170"; }
.flaticon-unlink-symbol:before { content: "\f171"; }
.flaticon-drop:before { content: "\f172"; }
.flaticon-menu:before { content: "\f173"; }
.flaticon-list:before { content: "\f174"; }
.flaticon-order:before { content: "\f175"; }
.flaticon-padlock:before { content: "\f176"; }
.flaticon-locked:before { content: "\f177"; }
.flaticon-home:before { content: "\f178"; }
.flaticon-home-page:before { content: "\f179"; }
.flaticon-boat-life-saver:before { content: "\f17a"; }
.flaticon-anchor:before { content: "\f17b"; }
.flaticon-big-anchor:before { content: "\f17c"; }
.flaticon-contract:before { content: "\f17d"; }
.flaticon-edit:before { content: "\f17e"; }
.flaticon-black-star:before { content: "\f17f"; }
.flaticon-circles:before { content: "\f180"; }
.flaticon-empty-star:before { content: "\f181"; }
.flaticon-right-quote:before { content: "\f182"; }
.flaticon-left-quote:before { content: "\f183"; }
.flaticon-avatar:before { content: "\f184"; }
.flaticon-finger-touching-tablet-screen:before { content: "\f185"; }
.flaticon-devices:before { content: "\f186"; }
.flaticon-computer-tablet:before { content: "\f187"; }
.flaticon-tablet:before { content: "\f188"; }
.flaticon-smartphone-1:before { content: "\f189"; }
.flaticon-smartphone:before { content: "\f18a"; }
.flaticon-shopping-bag-1:before { content: "\f18b"; }
.flaticon-shopping-bag:before { content: "\f18c"; }
.flaticon-loupe:before { content: "\f18d"; }
.flaticon-search:before { content: "\f18e"; }
.flaticon-arrows-1:before { content: "\f18f"; }
.flaticon-arrows:before { content: "\f190"; }
.flaticon-back-arrow:before { content: "\f191"; }
.flaticon-next-page:before { content: "\f192"; }
.flaticon-exercise-1:before { content: "\f193"; }
.flaticon-management:before { content: "\f194"; }
.flaticon-exercise:before { content: "\f195"; }
.flaticon-signs:before { content: "\f196"; }
.flaticon-woman-stretching-and-flexing-legs-with-arms-up:before { content: "\f197"; }
.flaticon-yoga-posture:before { content: "\f198"; }
.flaticon-medal-1:before { content: "\f199"; }
.flaticon-gym:before { content: "\f19a"; }
.flaticon-strength:before { content: "\f19b"; }
.flaticon-medal:before { content: "\f19c"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f19d"; }
.flaticon-bicycle:before { content: "\f19e"; }
.flaticon-soccer-ball-variant:before { content: "\f19f"; }
.flaticon-trophy-1:before { content: "\f1a0"; }
.flaticon-medical-2:before { content: "\f1a1"; }
.flaticon-medical-1:before { content: "\f1a2"; }
.flaticon-medical:before { content: "\f1a3"; }
.flaticon-technology:before { content: "\f1a4"; }
.flaticon-first-aid-kit:before { content: "\f1a5"; }
.flaticon-lifeline-in-a-heart-outline:before { content: "\f1a6"; }
.flaticon-charity:before { content: "\f1a7"; }
.flaticon-care:before { content: "\f1a8"; }
.flaticon-doctor:before { content: "\f1a9"; }
.flaticon-trophy:before { content: "\f1aa"; }
.flaticon-dustbin:before { content: "\f1ab"; }
.flaticon-grid-world:before { content: "\f1ac"; }
.flaticon-cloud:before { content: "\f1ad"; }
.flaticon-chat-2:before { content: "\f1ae"; }
.flaticon-chat-1:before { content: "\f1af"; }
.flaticon-settings-1:before { content: "\f1b0"; }
.flaticon-briefcase:before { content: "\f1b1"; }
.flaticon-folder-1:before { content: "\f1b2"; }
.flaticon-folder:before { content: "\f1b3"; }
.flaticon-bar-chart:before { content: "\f1b4"; }
.flaticon-line-chart-3:before { content: "\f1b5"; }
.flaticon-line-chart-2:before { content: "\f1b6"; }
.flaticon-increasing-stocks-graphic:before { content: "\f1b7"; }
.flaticon-line-chart-1:before { content: "\f1b8"; }
.flaticon-line-chart:before { content: "\f1b9"; }
.flaticon-shuffle:before { content: "\f1ba"; }
.flaticon-settings:before { content: "\f1bb"; }
.flaticon-headphones:before { content: "\f1bc"; }
.flaticon-phone-call:before { content: "\f1bd"; }
.flaticon-shopping-cart-2:before { content: "\f1be"; }
.flaticon-shopping-cart-1:before { content: "\f1bf"; }
.flaticon-shopping-cart:before { content: "\f1c0"; }
.flaticon-play-button-1:before { content: "\f1c1"; }
.flaticon-play-button:before { content: "\f1c2"; }
.flaticon-next-1:before { content: "\f1c3"; }
.flaticon-login:before { content: "\f1c4"; }
.flaticon-download:before { content: "\f1c5"; }
.flaticon-reload:before { content: "\f1c6"; }
.flaticon-back:before { content: "\f1c7"; }
.flaticon-next:before { content: "\f1c8"; }
.flaticon-placeholder-1:before { content: "\f1c9"; }
.flaticon-placeholder:before { content: "\f1ca"; }
.flaticon-sport:before { content: "\f1cb"; }
.flaticon-chat:before { content: "\f1cc"; }
.flaticon-target:before { content: "\f1cd"; }
.flaticon-diploma:before { content: "\f1ce"; }
    
    $font-Flaticon-people-2: "\f100";
    $font-Flaticon-people-1: "\f101";
    $font-Flaticon-people: "\f102";
    $font-Flaticon-engineer: "\f103";
    $font-Flaticon-lawn-mower: "\f104";
    $font-Flaticon-boot: "\f105";
    $font-Flaticon-nature-6: "\f106";
    $font-Flaticon-nature-5: "\f107";
    $font-Flaticon-nature-4: "\f108";
    $font-Flaticon-pray-1: "\f109";
    $font-Flaticon-pray: "\f10a";
    $font-Flaticon-nature-3: "\f10b";
    $font-Flaticon-symbol: "\f10c";
    $font-Flaticon-recycle-symbol-of-three-leaves: "\f10d";
    $font-Flaticon-recycle-triangle-of-three-arrows-outlines: "\f10e";
    $font-Flaticon-recycle-triangular-symbol-of-three-arrows-rotation: "\f10f";
    $font-Flaticon-christmas-tree: "\f110";
    $font-Flaticon-nature-2: "\f111";
    $font-Flaticon-leave: "\f112";
    $font-Flaticon-nature-1: "\f113";
    $font-Flaticon-nature: "\f114";
    $font-Flaticon-insignia: "\f115";
    $font-Flaticon-flower: "\f116";
    $font-Flaticon-watering: "\f117";
    $font-Flaticon-black: "\f118";
    $font-Flaticon-vine: "\f119";
    $font-Flaticon-vimeo: "\f11a";
    $font-Flaticon-linkedin: "\f11b";
    $font-Flaticon-pinterest: "\f11c";
    $font-Flaticon-google-plus: "\f11d";
    $font-Flaticon-twitter: "\f11e";
    $font-Flaticon-whatsapp: "\f11f";
    $font-Flaticon-facebook: "\f120";
    $font-Flaticon-instagram: "\f121";
    $font-Flaticon-map-1: "\f122";
    $font-Flaticon-smartphone-2: "\f123";
    $font-Flaticon-e-mail-envelope: "\f124";
    $font-Flaticon-presentation-whiteboard: "\f125";
    $font-Flaticon-man: "\f126";
    $font-Flaticon-target-1: "\f127";
    $font-Flaticon-arrows-8: "\f128";
    $font-Flaticon-arrows-7: "\f129";
    $font-Flaticon-arrow: "\f12a";
    $font-Flaticon-arrows-6: "\f12b";
    $font-Flaticon-arrows-5: "\f12c";
    $font-Flaticon-arrows-4: "\f12d";
    $font-Flaticon-arrows-3: "\f12e";
    $font-Flaticon-arrows-2: "\f12f";
    $font-Flaticon-right-arrow: "\f130";
    $font-Flaticon-left-arrow: "\f131";
    $font-Flaticon-delete-button: "\f132";
    $font-Flaticon-close-envelope: "\f133";
    $font-Flaticon-cancel: "\f134";
    $font-Flaticon-cancel-music: "\f135";
    $font-Flaticon-hourglass: "\f136";
    $font-Flaticon-alarm-clock: "\f137";
    $font-Flaticon-website-design-symbol: "\f138";
    $font-Flaticon-eye-1: "\f139";
    $font-Flaticon-safe: "\f13a";
    $font-Flaticon-airplane: "\f13b";
    $font-Flaticon-travel: "\f13c";
    $font-Flaticon-danger-sing: "\f13d";
    $font-Flaticon-aeroplane: "\f13e";
    $font-Flaticon-wifi: "\f13f";
    $font-Flaticon-key: "\f140";
    $font-Flaticon-loupe-1: "\f141";
    $font-Flaticon-settings-3: "\f142";
    $font-Flaticon-eye: "\f143";
    $font-Flaticon-favorite: "\f144";
    $font-Flaticon-settings-2: "\f145";
    $font-Flaticon-mobile-phone: "\f146";
    $font-Flaticon-agenda: "\f147";
    $font-Flaticon-map: "\f148";
    $font-Flaticon-info: "\f149";
    $font-Flaticon-megaphone: "\f14a";
    $font-Flaticon-24-hours: "\f14b";
    $font-Flaticon-wall-clock: "\f14c";
    $font-Flaticon-like: "\f14d";
    $font-Flaticon-mouse: "\f14e";
    $font-Flaticon-telephone-2: "\f14f";
    $font-Flaticon-sms: "\f150";
    $font-Flaticon-telephone-1: "\f151";
    $font-Flaticon-message: "\f152";
    $font-Flaticon-house: "\f153";
    $font-Flaticon-arroba: "\f154";
    $font-Flaticon-telephone: "\f155";
    $font-Flaticon-mail: "\f156";
    $font-Flaticon-contract-1: "\f157";
    $font-Flaticon-reverse: "\f158";
    $font-Flaticon-slideshare-logotype: "\f159";
    $font-Flaticon-vector: "\f15a";
    $font-Flaticon-share-1: "\f15b";
    $font-Flaticon-share: "\f15c";
    $font-Flaticon-video-camera: "\f15d";
    $font-Flaticon-music-player-1: "\f15e";
    $font-Flaticon-gamepad: "\f15f";
    $font-Flaticon-video-player: "\f160";
    $font-Flaticon-muted: "\f161";
    $font-Flaticon-compact-disc: "\f162";
    $font-Flaticon-microphone: "\f163";
    $font-Flaticon-alarm: "\f164";
    $font-Flaticon-speaker: "\f165";
    $font-Flaticon-music-player: "\f166";
    $font-Flaticon-bank: "\f167";
    $font-Flaticon-money-bag: "\f168";
    $font-Flaticon-dollar-symbol: "\f169";
    $font-Flaticon-apple: "\f16a";
    $font-Flaticon-diamond: "\f16b";
    $font-Flaticon-map-marker: "\f16c";
    $font-Flaticon-placeholder-3: "\f16d";
    $font-Flaticon-placeholder-2: "\f16e";
    $font-Flaticon-attachment: "\f16f";
    $font-Flaticon-link-symbol: "\f170";
    $font-Flaticon-unlink-symbol: "\f171";
    $font-Flaticon-drop: "\f172";
    $font-Flaticon-menu: "\f173";
    $font-Flaticon-list: "\f174";
    $font-Flaticon-order: "\f175";
    $font-Flaticon-padlock: "\f176";
    $font-Flaticon-locked: "\f177";
    $font-Flaticon-home: "\f178";
    $font-Flaticon-home-page: "\f179";
    $font-Flaticon-boat-life-saver: "\f17a";
    $font-Flaticon-anchor: "\f17b";
    $font-Flaticon-big-anchor: "\f17c";
    $font-Flaticon-contract: "\f17d";
    $font-Flaticon-edit: "\f17e";
    $font-Flaticon-black-star: "\f17f";
    $font-Flaticon-circles: "\f180";
    $font-Flaticon-empty-star: "\f181";
    $font-Flaticon-right-quote: "\f182";
    $font-Flaticon-left-quote: "\f183";
    $font-Flaticon-avatar: "\f184";
    $font-Flaticon-finger-touching-tablet-screen: "\f185";
    $font-Flaticon-devices: "\f186";
    $font-Flaticon-computer-tablet: "\f187";
    $font-Flaticon-tablet: "\f188";
    $font-Flaticon-smartphone-1: "\f189";
    $font-Flaticon-smartphone: "\f18a";
    $font-Flaticon-shopping-bag-1: "\f18b";
    $font-Flaticon-shopping-bag: "\f18c";
    $font-Flaticon-loupe: "\f18d";
    $font-Flaticon-search: "\f18e";
    $font-Flaticon-arrows-1: "\f18f";
    $font-Flaticon-arrows: "\f190";
    $font-Flaticon-back-arrow: "\f191";
    $font-Flaticon-next-page: "\f192";
    $font-Flaticon-exercise-1: "\f193";
    $font-Flaticon-management: "\f194";
    $font-Flaticon-exercise: "\f195";
    $font-Flaticon-signs: "\f196";
    $font-Flaticon-woman-stretching-and-flexing-legs-with-arms-up: "\f197";
    $font-Flaticon-yoga-posture: "\f198";
    $font-Flaticon-medal-1: "\f199";
    $font-Flaticon-gym: "\f19a";
    $font-Flaticon-strength: "\f19b";
    $font-Flaticon-medal: "\f19c";
    $font-Flaticon-runer-silhouette-running-fast: "\f19d";
    $font-Flaticon-bicycle: "\f19e";
    $font-Flaticon-soccer-ball-variant: "\f19f";
    $font-Flaticon-trophy-1: "\f1a0";
    $font-Flaticon-medical-2: "\f1a1";
    $font-Flaticon-medical-1: "\f1a2";
    $font-Flaticon-medical: "\f1a3";
    $font-Flaticon-technology: "\f1a4";
    $font-Flaticon-first-aid-kit: "\f1a5";
    $font-Flaticon-lifeline-in-a-heart-outline: "\f1a6";
    $font-Flaticon-charity: "\f1a7";
    $font-Flaticon-care: "\f1a8";
    $font-Flaticon-doctor: "\f1a9";
    $font-Flaticon-trophy: "\f1aa";
    $font-Flaticon-dustbin: "\f1ab";
    $font-Flaticon-grid-world: "\f1ac";
    $font-Flaticon-cloud: "\f1ad";
    $font-Flaticon-chat-2: "\f1ae";
    $font-Flaticon-chat-1: "\f1af";
    $font-Flaticon-settings-1: "\f1b0";
    $font-Flaticon-briefcase: "\f1b1";
    $font-Flaticon-folder-1: "\f1b2";
    $font-Flaticon-folder: "\f1b3";
    $font-Flaticon-bar-chart: "\f1b4";
    $font-Flaticon-line-chart-3: "\f1b5";
    $font-Flaticon-line-chart-2: "\f1b6";
    $font-Flaticon-increasing-stocks-graphic: "\f1b7";
    $font-Flaticon-line-chart-1: "\f1b8";
    $font-Flaticon-line-chart: "\f1b9";
    $font-Flaticon-shuffle: "\f1ba";
    $font-Flaticon-settings: "\f1bb";
    $font-Flaticon-headphones: "\f1bc";
    $font-Flaticon-phone-call: "\f1bd";
    $font-Flaticon-shopping-cart-2: "\f1be";
    $font-Flaticon-shopping-cart-1: "\f1bf";
    $font-Flaticon-shopping-cart: "\f1c0";
    $font-Flaticon-play-button-1: "\f1c1";
    $font-Flaticon-play-button: "\f1c2";
    $font-Flaticon-next-1: "\f1c3";
    $font-Flaticon-login: "\f1c4";
    $font-Flaticon-download: "\f1c5";
    $font-Flaticon-reload: "\f1c6";
    $font-Flaticon-back: "\f1c7";
    $font-Flaticon-next: "\f1c8";
    $font-Flaticon-placeholder-1: "\f1c9";
    $font-Flaticon-placeholder: "\f1ca";
    $font-Flaticon-sport: "\f1cb";
    $font-Flaticon-chat: "\f1cc";
    $font-Flaticon-target: "\f1cd";
    $font-Flaticon-diploma: "\f1ce";